/* GLOBAL STYLES */
* {margin:0;padding:0;font-family:'Source Sans Pro',sans-serif;}
a {text-decoration:none;color:#000;}
a:hover {color: #cc0033;}
a.white {color:#ffffff;}
h1,h2,h3,h4,h5,h6 {font-family:'Source Sans Pro',sans-serif;margin:0;padding:0;}
p {font-size:16px;line-height:20px;}
p.posted {font-size:11px;color:#6E6E6E;}
p.tease {font-size:13px;line-height:17px;}
img {display:block;max-width:100%;border:none;}
ul {list-style:none outside none;}
.stick-top {position:fixed;width:940px;top:0;}
.stick {position:fixed !important;top:36px;}
.box {overflow:auto;margin-bottom:10px;padding:10px;background-color:#ffffff;}
.box-nopad {overflow:auto;margin-bottom:10px;background-color:#ffffff;}
.box-title {padding:5px 10px;background-color:#536aaa;}
.box-title h6 {font-size:16px;font-weight:900;text-transform:uppercase;color:#ffffff;}
.ad-title {background-color:#f8f8f8;color:#999999;font-size:10px;font-weight:500;letter-spacing:3px;padding:2px 0 0;text-align:center;text-transform:uppercase;}


/* MAIN STRUCTURE */
#page-wrapper {margin:0 auto;padding:2px 10px 0;position:relative;width:940px;}

#top-ad {margin-bottom:10px;text-align:center;}
#top-ad img {margin:0 auto;}

#top-links {margin-bottom:10px;font-size:12px;font-weight:600;}
#top-links li {display:inline-block;padding-right:8px;}
#top-links li a:hover {color: #cc0033;}
#top-links li.h-divider:after {color:#d5d5d5;content:"|";}

nav {position:relative;min-width:940px;height:36px;overflow:hidden;background-color: #262626;z-index:1000;}
nav li {float:left;display:inline-block;font-size:15px;font-weight:600;}
nav li a {display:block;height:36px;padding:8px 16px;color:#ffffff;background-color: #262626;border-right: 1px solid #363636;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
nav li a:hover {color:#ffffff;background-color: #363636;}
nav li a:active, nav li a.active {color: #cc0033;background-color:#eee;}
nav li.search {background: #262626 url('../assets/sprite-1x.png') no-repeat -112px -230px;width:34px;height:36px;position:relative;}
nav li.search a {float:left;width:34px;padding:0;background-color:transparent;}
nav li.search a:hover {background: #363636 url('../assets/sprite-1x.png') no-repeat -112px -230px;}
nav li.search .search-wrapper {display:block;float:left;height:100%;background-color: #262626;position:absolute;left:34px;z-index:100;width:220px;overflow:hidden;display:none;}
nav li.search .search-wrapper input {height:20px;margin-top:6px;width:200px;margin-left:auto;margin-right:auto;display:inherit;}
nav li.featured {float:right;}
nav li.featured a {background-color:transparent;border:none;}
nav li.featured a:hover {background-color:transparent;}

#header {clear:both;position:relative;}
#header .ocr-flag {background:url('../img/flag-white.png') no-repeat;background-size:contain;position: absolute;width: 797px;height: 61px;margin: 0 auto;left: 22px;top: 47px;}
#header-img {background: url('../img/header.jpg') no-repeat;width:940px;height:160px;/* margin: 0 auto; */background-size: contain;}
#header .tab {position:absolute;top:0;right:-17px;background:url('../assets/sprite-1x.png') no-repeat;background-position:0 -300px;width:58px;height:33px;font-size:14px;line-height:26px;text-align:center;text-transform:uppercase;color:#ffffff;z-index:999;}
#header .cars {top:15px;}
#header .jobs {top:50px;}
#header .homes {top:85px;}
#header .ads {top:120px;}

#subnav {position:relative;min-width:940px;height:31px;background-color:#eeeeee;z-index:999;}
#subnav li {float:left;display:inline-block;font-size:13px;}
#subnav li a {display:block;padding:7px 14px;color:#000000;}
#subnav li a:hover {text-decoration:none;color: #cc0033;}
#subnav li.label {font-weight:900;padding-right:0;}
#subnav li.label a:hover {color:#000000;}
#subnav li.h-divider:after {color:#d5d5d5;content:"|";line-height:30px;}
#subnav li.social {float:right;margin:5px 3px 0 0;}
#subnav li.social a {display:block;width:22px;height:22px;}
#subnav .social {
	background:url('../assets/sprite-1x.png') no-repeat;
	width: 20px;
	height: 20px;
}
#subnav .social-link-fb {background-position: 0 -180px;}
#subnav .social-link-twitter {background-position: -240px -120px;}
#subnav .social-link-gplus {background-position: -60px -180px;}
#subnav li.weather {float:right;background: url('../assets/sprite-1x.png') no-repeat -120px -175px;width:42px;height:31px;padding-right:10px;}
#subnav li.weather a {display:block;width:42px;height:31px;padding:0 10px 0 0;background-color:transparent;text-align:right;font-weight:800;line-height:30px;}
#subnav li.weather ul.weather-extended {position:absolute;left:0px;width:940px;height:0px;border:1px solid #eee;background-color:#F8F8F8;box-shadow: 0 4px 15px -11px inset;overflow: hidden;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	transition:height 500ms;
	-webkit-transition:height 500ms;
	-moz-transition:height 500ms;
}
#subnav li.weather ul.weather-extended li {padding:20px;width:312px;border-right:1px solid #eee;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
#subnav li.weather ul.weather-extended li:last-child {border-right:none;}
#subnav li.weather ul.weather-extended li h4 {float:none;font-size:24px;margin-bottom:20px;}
#subnav li.weather ul.weather-extended li img {float:left;margin-right:8px;}
#subnav li.weather ul.weather-extended li p {float:none;font-size:70px;font-weight:200;}
#subnav li.weather:hover ul.weather-extended {height:142px;}
